{% extends "base.html" %}
{% block title %}Farm2Fork{% endblock %}

{% block content %}

<div class="info-page">
 
  <div class="info-header">
    <h1 class="info-title">Delevery Team Secrets Here</h1>
    <p class="info-subtitle">This page should not go on the deployment server.</p>
  </div>
 
  <div class="info-container">
    <table class="info-table">
      <thead>
        <tr>
          <th>Delivery Team</th>
          <th>Secret</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Customer & Subscriptions :D</td>
          <td><strong>{{ secret }}</strong></td>
        </tr>
        <tr>
          <td>Delivery Execution</td>
          <td>secret</td>
        </tr>
        <tr>
          <td>Order Orchestration</td>
          <td>secret</td>
        </tr>
        <tr>
          <td>Product & Inventory Intelligence</td>
          <td>secret</td>
        </tr>
        <tr>
          <td>Supply & Network Management</td>
          <td>secrety</td>
        </tr>
      </tbody>
    </table>
  </div>
 
</div>

{% endblock %}